* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  height: 100%;
  min-height: 100%;
  position: relative;
}

body {
  background-image: url('../images/nebula.jpg');
  background-attachment: fixed;
  height: 90%;
  z-index: -1;
}

/*****FONTS*****/

@font-face {
  font-family: LemonMilk;
  src: url("../bootstrap/fonts/LemonMilk.otf");
}

/*****PARTICLES*****/

#particles-js {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}

.titles {
  position: absolute;
  color: white;
  font-size: 40px;
  font-family: LemonMilk;
  text-align: center;
  margin-left: 40%;
  margin-top: 20%;
}

#part-two {
  height: 100%;
}

.middle-one {
  height: 100%;
  width: 1720px;
  margin-left: 5%;
  margin-right: 10%;
  background-color: #fff;
}