* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Secret Font;
    src: url('fonts/ABEAKRG.TTF');
}

body {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.5;
}

#top-menu {
    background-image: url('images/top-bg.jpg');
    width: auto;
    height: 955px;
}

#title {
    font-family: Secret Font;
    font-size: 25px;
    color: white;
    padding: 20px;
    padding-left: 60px;
    float: left;
    position: static;
}

#title a {
    text-decoration: none;
    color: white;
}

#title a:hover {
    transition: all 400ms ease-in-out;
    color: #0ff0b2;
}

.clr_change {
    background: transparent;
    color: #0ff0b2;
}

.clr_change_two {
    background: transparent;
    color: #159957;
}

#menu {
    float: right;
    padding: 20px;
    padding-right: 150px;
    position: static;
}

#menu li {
    list-style-type: none;
    padding: 20px;
    display: inline;
}

#menu li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

#menu li a:hover {
    transition: all 250ms ease;
    color: #0ff0b2;
}

#lrg_title {
    font-family: Secret Font;
    color: white;
    font-size: 32px;
    margin-left: 42%;
    padding-top: 15%;
    padding-bottom: 30px;
}

#top_header {
    color: white;
    font-family: Secret Font;
    font-size: 18px;
    margin-left: 44%;
    padding-bottom: 20px;
}

#btn_gh {
    background: transparent;
    border: 1px solid white;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    color: white;
    padding-top: 15px;
    margin-left: 45%;
}

#btn_gh a {
    text-decoration: none;
    color: white;
}

#btn_gh a:hover {
    transition: all 200ms ease;
    color: #0ff0b2;
}

#page_two {
    background-color: white;
    width: auto;
    height: 955px;
}

#scnd_page_top {
    background-image: linear-gradient(120deg, #155799, #159957);
    width: auto;
    height: 300px;
}

#project_title {
    text-align: center;
    color: white;
    font-size: 42px;
    padding-top: 80px;
    padding-bottom: 30px;
}

.par_project {
    color: #f4f4f4;
    font-size: 24px;
    text-align: center;
}

.project {
    color: #159957;
    font-size: 26px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.seperator_ {
    margin-left: 18%;
    margin-right: 18%;
    width: auto;
    height: 655px;
}

.method-text {
    padding: 7px;
}

.headers {
    color: #159957;
    font-size: 20px;
}

#lst_items {
    padding: 2px;
    padding-left: 20px;
}

#lst_items {
    list-style-type: none;
}

#members-page {
    background-color: white;
    width: auto;
    height: 955px;
}

#thrd_page_top {
    background-image: linear-gradient(120deg, #155799, #159957);
    width: auto;
    height: 300px;
}

#members_title {
    text-align: center;
    color: white;
    font-size: 42px;
    padding-top: 80px;
    padding-bottom: 30px;
}

.par_members {
    color: #f4f4f4;
    font-size: 24px;
    text-align: center;
}

#members-lst {
    padding-left: 20px;
}

#members-lst li {
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
}

#sep {
    padding: 20px;
}
